html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 76.6vw;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}

a, a:active, a:focus {
  text-decoration: none;
}

ul, li, nav {
  display: inline;
}

.logo {
  font-family: 'Satisfy', cursive;
  font-weight:bold;
  font-size: 6vw;
}

.nav-responsive {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 12vh;
}

.logo-browser {
  font-family: 'Satisfy', cursive;
  font-weight:bold;
  font-size: 3vw;
  padding-top: 0.2em;
  position: absolute;
  top: 1vh;
  left: 32.5vw;
}

.nav-browser {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0 0 0;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.nav-links {
  text-transform: uppercase;
  font-size: 1.1em;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}

.nav-links li {
  padding: 1.25em 0 0 1.25em;
}

.nav-links a, .logo a, .logo-browser a {
  color: #242323;
}

.nav-socmedia {
  text-align: right;
  padding-right: 0.5em;
}

.fa {
  width: 1.6em;
  height: 1.6em;
  background-color: #242323;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding: 5px 0 5px 0;
  margin: 0 0.8em 0 0;
}

.top-addr {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #242323;
  color: #fff;
  height: 9.7vh;
  padding: 3.2vh 0 3.2vh 0;
  font-size: 1em;
}

.fst-section {
  height: 125vh;
  background: #F9DB79 url('../img/pink-icecream.png') no-repeat;
  background-position: center 60%;
  background-size: auto 75%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.glacerie {
  color: #fff;
  text-align: center;
}

.glacerie h1 {
  font-size: 13vw;
  font-weight: bold;
  margin: -1vh 0 0 0;
  letter-spacing: 0.15em;
}

.glacerie h2 {
  font-size: 2.8vw;
  font-weight: normal;
  margin: 0;
}

.btn {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 1.9vw;
  font-weight: normal;
  border: 2px solid #fff;
  padding: 0.2em 1.5em 0.2em 1.5em;
  cursor: pointer;
  outline: none;
  transition: 0.25s ease-in-out;
}

.btn-black {
  color: #242323;
  border: 2px solid #242323;
}

.btn--menu {
  margin-bottom: 25vh;
}

.btn:hover, .btn-black:hover {
  color: #fff;
  background-color: #242323;
  border: 2px solid #242323;
} 

.scnd-section {
  height: 100vh;
  display: flex;
}

.scnd-section--img {
  background: url('../img/fallen-icecream.jpg') no-repeat right;
  background-size: auto 100%;
  width: 50%;
}

.scnd-section--text {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scnd-section--text h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2.4em;
}

.scnd-section--text h3 {
  font-family: 'Satisfy', cursive;
  font-size: 1.3em;
  margin: -3.8vh 0 0 0;
}

.scnd-section--text p {
  width: 75%;
  margin: 7vh auto 7vh auto;
  line-height: 1.6em;
  text-align: justify;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-text-align-last: center;
}


/* -------------------------------- MEDIA QUERIES --------------------------------------------*/

@media screen and (min-width : 695px) and (max-width : 1165px) {
  .logo-browser {
    top: 12vh;
    left: 30.5vw;
    font-size: 4vw;
  }
  
  .fst-section {
    background-position: center 60%;
    background-size: auto 65%;
  }
  
  .glacerie h2 {
    font-size: 3.5vw;
  }
  
  .btn {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 1000px) {
  .fst-section {
    height: 120vh;
  }
  
  .btn--menu {
    margin-bottom: 30vh;
  }
}

@media screen and (max-width: 900px) {
  .fst-section {
    height: 115vh;
  }
  
  .btn--menu {
    margin-bottom: 30vh;
  }
}

@media screen and (max-width: 750px) {
  .fst-section {
    height: 105vh;
  }
  
  .btn--menu {
    margin-bottom: 30vh;
  }
}

@media screen and (max-width : 695px) {
  
  body {
    max-width: 100vw;
  }
  
  .logo-browser {
    top: 12vh;
    left: 26vw;
    font-size: 3em;
  }
  
  .nav-browser {
    display: none;
  }
  
  .nav-responsive {
    display: flex;
  }
  
  .fst-section {
    background-position: center;
    justify-content: center;
  }
  
  .glacerie h1 {
    font-size: 16vw;
  }
  
  .glacerie h2 {
    font-size: 5.5vw;
  }
  
  .btn {
    font-size: 4.5vw;
    padding: 0.3em 2.2em 0.3em 2.2em;
  }
  
  .btn--menu {
    margin-bottom: 0;
  }
  
  .scnd-section--text h2 {
    font-size: 5vw;
  }
  
  .scnd-section--text h3 {
    font-size: 3vw;
  }

}

@media screen and (max-width : 585px) {

  .fst-section {
    height: 90vh;
  }
  
  .top-addr {
    height: 14vh;
    line-height: 4vh;
  }
  
  .top-addr span {
    display: block;
  }
  
  .top-addr .pipe {
    display: none;
  }
  
}

@media screen and (max-width: 480px) {
  
  .top-addr {
    font-size: 0.8em;
    height: 8.5vh;
    line-height: 1.3em;
    padding: 0;
    letter-spacing: 0.08em;
  }
  
  .nav-browser {
    display: none;
  }
  
  .nav-responsive {
    display: flex;
    height: 10vh;
  }
  
  .logo {
    font-size: 2em;
  }
  
  .scnd-section {
    height: 130vh;
    flex-direction: column-reverse;
  }
  
  .scnd-section--img {
    width: 100%;
    flex: 3;
  }

  .scnd-section--text {
    width: 100%;
    flex: 5;
  }
  
  .scnd-section--text h2 {
    font-size: 8vw;
  }

  .scnd-section--text h3 {
    font-size: 6.2vw;
    font-weight: normal;
  }
}

@media screen and (max-width: 380px) {
  .fst-section h2 {
    font-size: 7vw;
  }
  
  .btn {
    font-size: 5.5vw;
  }
}