html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 76.6vw;
  margin: 0 auto;
  font-family: 'Ubuntu Condensed', sans-serif;
}

a {
  text-decoration: none;
}

.top-addr {
  text-align: center;
  background-color: #242323;
  color: #fff;
  height: 9.7vh;
  padding: 3.2vh 0 3.2vh 0;
  font-size: 1em;
}

.yellow {
  height: 124vh;
  background-color: #F9DB79;
  position: relative;
}

ul, li, nav {
  display: inline;
}

.logo {
  font-family: 'Satisfy', cursive;
  font-weight:bold;
  font-size: 3vw;
  padding-top: 0.2em;
  position: absolute;
  top: 1vh;
  left: 32.5vw;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0 0 0;
}

.nav-links {
  text-transform: uppercase;
  font-size: 1.1em;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}

.nav-links li {
  padding: 1.25em 0 0 1.25em;
}

.nav-links a, .logo a {
  color: #242323;
}

.nav-socmedia {
  /*width: 360px;*/
  text-align: right;
  padding-right: 0.5em;
}

.fa {
  width: 1.6em;
  height: 1.6em;
  background-color: #242323;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding: 5px 0 5px 0;
  margin: 0 0.8em 0 0;
}

.yellow img {
  height: auto;
  max-width: 31%;
  margin: 6vh auto 0 auto;
  display: block;
}

.glacerie {
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;
  color: #fff;
  position: absolute;
  top: 55vh;
  left: 3.5vw;
  text-align: center;
}

.glacerie h2 {
  font-size: 2.8vw;
  margin: 0;
}

.glacerie h1 {
  font-size: 13vw;
  font-weight: bold;
  margin: 0;
  letter-spacing: 0.15em;
}

.btn {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 1.9vw;
  font-weight: normal;
  margin: 0;
  border: 2px solid #fff;
  padding: 0.2em 1.5em 0.2em 1.5em;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background-color: #242323;
  border: 2px solid #242323;
} 

.btn--menu {
  position: absolute;
  top: 95vh;
  left: 33vw;
  z-index: 1;
}

@media screen and (min-width : 695px) and (max-width : 1165px) {
  .logo {
    top: 12vh;
    left: 30.5vw;
    font-size: 4vw;
  }
  
  .yellow {
    height: 145vh;
  }
  
  .yellow img {
    max-width: 35%;
    margin: 14vh auto 0 auto;
  }
  
  .glacerie h2 {
    font-size: 3.5vw;
  }
  
  .btn {
    font-size: 2.2vw;
  }
  
  .btn--menu {
    top: 90vh;
    left: 32vw;
  }
}

@media screen and (min-width : 480px) and (max-width : 695px) {
  .logo {
    top: 12vh;
    left: 26vw;
    font-size: 6vw;
  }
  
  .nav-links {
    display: none;
  }
  
  nav {
    justify-content: flex-end;
  }
  
  .yellow {
    height: 145vh;
  }
  
  .yellow img {
    max-width: 45%;
    margin: 14vh auto 0 auto;
  }
  
  .glacerie h2 {
    font-size: 4vw;
  }
  
  .btn {
    font-size: 2.8vw;
  }
  
  .btn--menu {
    top: 80vh;
    left: 30.5vw;
  }
}

@media screen and (max-width : 585px) {
  body {
    max-width: 100vw;
  }
  
  .top-addr {
    height: 14vh;
    line-height: 4vh;
  }
  
  .top-addr span {
    display: block;
  }
  
  .top-addr span.pipe {
    display: none;
  }
  
  nav {
    justify-content: flex-end;
  }
  
  .nav-links {
    display: none;
  }
  
  .logo {
    top: 10vh;
    left: 32vw;
    font-size: 8vw;
  }
  
  .yellow img {
    max-width: 50%;
    margin: 8vh auto 0 auto;
  }
  
  .glacerie {
    left: 6vw;
  }
  
  .glacerie h1 {
    font-size: 16vw;
  }
  
  .glacerie h2 {
    font-size: 6vw;
  }
  
  .btn {
    font-size: 4vw;
  }
  
  .btn--menu {
    top: 80vh;
    left: 37vw;
  }
}